<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=WinFramework;Uid=root;Pwd=;"/>
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=WinFramework;Integrated Security=SSPI"/>
    <!--路径符号|DataDirectory|代表当前运行目录-->
    <add name="access" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\WinFramework.mdb;User ID=Admin;Jet OLEDB:Database Password=;" />
    <add name="sqlite"  providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\WinFramework.db;Version=3;" />
    <add name="oracle" providerName="System.Data.OracleClient" connectionString="Data Source=bhdb;User ID=bhgl;Password=bhgl"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="sqlite">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient" />
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite" name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>

  <appSettings>
    <!--软件名称-->
    <add key="ApplicationName" value="深田之星仓库管理系统"/>
    <!--开发商名称-->
    <add key="Manufacturer" value="广州爱奇迪软件科技有限公司"/>
    <!--字典、权限组件的数据库类型：access、sqlserver等，默认为sqlserver可不写-->
    <add key="ComponentDbType" value="sqlite"/>
    <!--是否自动更新-->
    <add key="AutoUpdate" value="False"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
