<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=WinFramework;Uid=root;Pwd=;" />
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=WinFramework;Integrated Security=SSPI" />
    <!--路径符号|DataDirectory|代表当前运行目录-->
    <add name="access" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\WinFramework.mdb;User ID=Admin;Jet OLEDB:Database Password=;" />
    <add name="sqlite" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\WinFramework.db;Version=3;" />
    <add name="oracle" providerName="System.Data.OracleClient" connectionString="Data Source=bhdb;User ID=bhgl;Password=bhgl" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="sqlserver">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient" />
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite" name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <!--软件名称-->
    <add key="ApplicationName" value="无人值守过磅管理信息系统" />
    <!--开发商名称-->
    <add key="Manufacturer" value="南京慧安软件科技有限公司" />
    <!--授权使用单位-->
    <add key="CertificatedCompany" value="南京慧安软件科技有限公司" />
    <!--软件介绍（关于对话框）-->
    <add key="Description" value="无人值守过磅管理信息系统，具有智能称重，无人干预。" />
    <!--程序启动界面图片（不设置采用默认,建议图片宽高比2:1）-->
    <add key="SplashScreen" value="Images\startScreen.png" />
    <!--组件的数据库类型：access、sqlserver、sqlite、oracle等，默认为sqlserver可不写-->
    <add key="ComponentDbType" value="sqlserver" />
    <!--是否自动更新-->
    <add key="AutoUpdate" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>